/* Header */

.class-menu ul {
  list-style-type: none;
}

#header {
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1;
  background-color: white;
  box-shadow: 0 12px 40px rgba(82, 140, 186, 0.3);
}

#header #logo {
  padding: 0;
  margin: 0;
  width: 9%;
  display: inline;
}

/* Navigation */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
  padding-top: 10px;
}

/* Nav Meu Styling */

.nav-menu a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color:#000;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orange;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

/* Image definition */
.image-def {
  padding: 5px 20px;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

/* Sections */

.section-space {
  padding: 50px 0;
}

.section-content {
  padding: 35px 0;
}

.section-space:nth-child(even) {
  background-color: #f7f8f9;
}

h2:after
{
  margin-top: 10px;
  content: ' ';
  display: block;
  width: 10%;
  border: 1px solid orange;
}

.sub-content {
  margin-left: 15px;
}

.sub-content p {
  font-size: 16px;
}

.sub-content li {
  font-size: 14px;
}

/* Intro Section */
#intro {
  width: 100%;
  height: 60vh;
  background: url(../img/php_cluster.png) top center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#intro h1 span {
  color: orange;
}

#intro p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

/* About Section */
#about img, #infrastructure img{
    width: 100%;
}

/* Benefit Section */
#benefit img {
  padding: 1px;
}

/* Php Section */
#php .col-md-5 {
  padding-top: 30px;
}

/* SDK Section */
h5 {
  margin-top: 20px;
}
h5:after
{
  margin-top: 10px;
  content: ' ';
  display: block;
  width: 10%;
  border: 0.5px solid gray;
}

#config ul {
  list-style-type: circle;
}

#config li {
  margin: 0 0 10px 0px;
}

#rds img {
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  margin: 15px 0;
  line-height: 0;
  overflow: hidden;
  text-align: center;
}

#mysql h6 {
  padding: 5px 0;
}

#mysql img {
  width: 200%
}

#figures .sub-content li {
    font-size: 16px;
}

#sources .sub-content li {
  font-size: 16px;
}

code {
  padding: 4px 4px 2.66667px;
  color: #b12704;
  white-space: nowrap;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}